## Hierarchical Indxing

In [33]:
import numpy as np
import pandas as pd

In [2]:
# index levels
index = [("G1", 1),("G1", 2),("G1", 3),("G2", 1),("G2", 2),("G2", 3),("G3", 1),("G3", 2),("G3", 3)]
heir_index = pd.MultiIndex.from_tuples(index)
heir_index

MultiIndex(levels=[['G1', 'G2', 'G3'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [3]:
index2 = [("G1","G2","G3"),(1,2,3)]
heir_index2 = pd.MultiIndex.from_product(index2)
heir_index2

MultiIndex(levels=[['G1', 'G2', 'G3'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [25]:
#building the multi-dimensional dataframe
df = pd.DataFrame(np.random.rand(9,7),heir_index2,columns=["data1","data2","data3","data4","data5","data6","data7"])
df

           data1     data2     data3     data4     data5     data6     data7
OG POS
G1 1    0.051970  0.903066  0.665025  0.179960  0.726038  0.363372  0.760642
   2    0.489597  0.125762  0.582086  0.418859  0.364132  0.741035  0.082887
   3    0.257378  0.119961  0.715767  0.285239  0.692553  0.504069  0.499112
G2 1    0.012690  0.277696  0.661891  0.280352  0.832192  0.898066  0.167036
   2    0.771883  0.990908  0.229505  0.054454  0.117898  0.869007  0.619652
   3    0.873491  0.662224  0.187748  0.873920  0.874855  0.478324  0.654587
G3 1    0.892597  0.282761  0.181550  0.470711  0.675693  0.871158  0.857476
   2    0.614685  0.465104  0.635256  0.189073  0.651726  0.956418  0.507415
   3    0.317424  0.395750  0.181809  0.335913  0.124975  0.311086  0.833896

In [26]:
df["data1"]

OG  POS
G1  1      0.051970
    2      0.489597
    3      0.257378
G2  1      0.012690
    2      0.771883
    3      0.873491
G3  1      0.892597
    2      0.614685
    3      0.317424
Name: data1, dtype: float64

In [13]:
df.loc["G1"]

      data1     data2     data3     data4     data5
1  0.834624  0.140982  0.644176  0.388970  0.543929
2  0.696835  0.102131  0.300851  0.906736  0.525039
3  0.698351  0.624777  0.767233  0.991596  0.293544

In [14]:
df.loc["G1"].loc[3]

data1    0.698351
data2    0.624777
data3    0.767233
data4    0.991596
data5    0.293544
Name: 3, dtype: float64

In [15]:
df.loc["G1"].iloc[2]

data1    0.698351
data2    0.624777
data3    0.767233
data4    0.991596
data5    0.293544
Name: 3, dtype: float64

In [27]:
df

           data1     data2     data3     data4     data5     data6     data7
OG POS
G1 1    0.051970  0.903066  0.665025  0.179960  0.726038  0.363372  0.760642
   2    0.489597  0.125762  0.582086  0.418859  0.364132  0.741035  0.082887
   3    0.257378  0.119961  0.715767  0.285239  0.692553  0.504069  0.499112
G2 1    0.012690  0.277696  0.661891  0.280352  0.832192  0.898066  0.167036
   2    0.771883  0.990908  0.229505  0.054454  0.117898  0.869007  0.619652
   3    0.873491  0.662224  0.187748  0.873920  0.874855  0.478324  0.654587
G3 1    0.892597  0.282761  0.181550  0.470711  0.675693  0.871158  0.857476
   2    0.614685  0.465104  0.635256  0.189073  0.651726  0.956418  0.507415
   3    0.317424  0.395750  0.181809  0.335913  0.124975  0.311086  0.833896

In [23]:
df.index.names = ["OG","POS"]

In [28]:
df

           data1     data2     data3     data4     data5     data6     data7
OG POS
G1 1    0.051970  0.903066  0.665025  0.179960  0.726038  0.363372  0.760642
   2    0.489597  0.125762  0.582086  0.418859  0.364132  0.741035  0.082887
   3    0.257378  0.119961  0.715767  0.285239  0.692553  0.504069  0.499112
G2 1    0.012690  0.277696  0.661891  0.280352  0.832192  0.898066  0.167036
   2    0.771883  0.990908  0.229505  0.054454  0.117898  0.869007  0.619652
   3    0.873491  0.662224  0.187748  0.873920  0.874855  0.478324  0.654587
G3 1    0.892597  0.282761  0.181550  0.470711  0.675693  0.871158  0.857476
   2    0.614685  0.465104  0.635256  0.189073  0.651726  0.956418  0.507415
   3    0.317424  0.395750  0.181809  0.335913  0.124975  0.311086  0.833896

In [29]:
df.loc["G2"].loc[2]["data2"]

0.9909084736063329

In [31]:
### cross-section
df.xs(3, level="POS")

       data1     data2     data3     data4     data5     data6     data7
OG
G1  0.257378  0.119961  0.715767  0.285239  0.692553  0.504069  0.499112
G2  0.873491  0.662224  0.187748  0.873920  0.874855  0.478324  0.654587
G3  0.317424  0.395750  0.181809  0.335913  0.124975  0.311086  0.833896